* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 30px;
}

.section-one {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
  margin-bottom: 20px;
}

.section-two,
.section-three {
  display: inline-block;
  width: 350px;
  height: 750px;
  border-radius: 2px;
  border-style: solid;
}

.section-two__image,
.section-three__image {
  width: 350px;
  height: 650px;
}